body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.certificate {
  width: 1200px;
  padding: 20px;
  background-color: white;
  border: 1px solid #cacaca;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tables {
  border: 2px solid black;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
}

.info,
.fees,
.rules {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.info th,
.info td,
.fees th,
.fees td,
.rules th,
.rules td {
  padding: 8px;
  text-align: left;
}

.rules td {
  text-align: left;
}

.table-title th {
  text-align: center;
  background-color: #99b0d7;
}

.bold {
  font-weight: 700;
  color: #000;
}

.red {
  color: red;
  font-size: 20;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.footer {
  text-align: right;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.col {
  flex: 0 1 auto;
  padding: 0 5px;
}

.head-img img {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0;
}

.head-text h3,
.head-text p {
  margin: 5px 0;
}

.title {
  letter-spacing: 10px;
}

.float-right {
  float: right;
}

.bold {
  font-weight: 900;
}

.top-underline {
  border-top: 3px solid black;
  padding-top: 5px;
}
